.auth__field {
  border: none;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 0 0 13px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  outline: none;
  color: #ccc;
  background-color: black;
  margin-bottom: 30px;
}
