.auth__caption-button {
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  text-align: right;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}
.auth__caption-button:hover {
  opacity: 0.8;
  transition: 0.8s;
}
@media screen and (max-width: 540px) {
  .auth__caption-button {
    display: none;
  }
}
